You are using build 2010-2-4 of the Project Bordeaux. The latest version is.
Copyright: <a href="http://Appfactory.us">Appfactory.us</a> 2010©
<!-- Removing this file is considered a violation of the license agreement and breaking the copyright law -->
<!-- TODO, add support for retrieving IP address, current build version, etc. -->