You are using <%= link_to APP_VERSION, "http://github.com/raygao/bordeaux"%> version of the Project Bordeaux. The latest version is.
Copyright: <a href="http://Appfactory.are4.us">Appfactory.Are4.Us</a> 2010©
<!-- Removing this file is considered a violation of the license agreement and breaking the copyright law -->
<!-- TODO, add support for retrieving IP address, current build version, etc. -->